.btn{
    margin: auto;
    height: fit-content;
    position: absolute;
    font-size: 16px;
    padding: 6px;
    border: white;
    cursor: pointer;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    width: fit-content;
    z-index: -1;
   
  }
  .btn-1{
    margin: auto;
    height: fit-content;
    position: relative;
    font-size: 16px;
    padding: 6px;
    border: white;
    cursor: pointer;
    border-radius: 5px;
    top: 300;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    width: fit-content;
    z-index: -1;
  
  }
  
  .btn-2{
    margin: auto;
    height: fit-content;
    position: relative;
    font-size: 16px;
    padding: 6px;
    border: white;
    cursor: pointer;
    border-radius: 5px;
    top: 300px;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    width: fit-content;
    z-index: -1;
  }
  .btn-3{
    margin: auto;
    height: fit-content;
    position: relative;
    font-size: 16px;
    padding: 6px;
    border: white;
    cursor: pointer;
    border-radius: 5px;
    top: 300px;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    width: fit-content;
    z-index: -1;
  }
  .btn-4{
    margin: auto;
    height: fit-content;
    position: relative;
    font-size: 16px;
    padding: 6px;
    border: white;
    cursor: pointer;
    border-radius: 5px;
    top: 300px;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    width: fit-content;
    z-index: -1;
  }
  .btn-5{
    margin: auto;
    height: fit-content;
    position: relative;
    font-size: 16px;
    padding: 6px;
    border: white;
    cursor: pointer;
    border-radius: 5px;
    top: 300px;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    width: fit-content;
    z-index: -1;
  }
  